sphinx~=1.8.3
sphinx_rtd_theme~=0.4.2

# Unfortunately the pip package "sphinxcontrib-versioning" is
# broken and not maintained anymore, thus cloning it directly from
# a forked Git repository which contains important bugfixes.
git+https://github.com/leokoppel/sphinxcontrib-versioning.git@93fe26211de4322c0ddf347f51e095b580cdcd55
